![](https://pbs.twimg.com/profile_images/1240321823213907973/TFsX7hfq_400x400.jpg)
<h1 align=center><font size = 5><span style="color:gray">FINAL PROJECT DEEP LEARNING & NEURAL NETWORKS WITH KERAS</span></font></h1>

### <span style="color:gray">Project: *Build a regression model using the Deep learning <span style="color:lightblue">Keras</span> library*</span>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>

1. <a href="#itemA">A. Build a baseline model</a>      
2. <a href="#itemB">B. Repeat Part A but use a normalized version of the data</a>     
3. <a href="#itemC">C. Increate the number of epochs</a>
4. <a href="#itemD">D. Increase the number of hidden layers</a>
5. <a href="#itemE">E. Additional</a>
6. <a href="#itemF">F. Report</a>

</font>
</div>

<a id='itemA'></a>
### A. Build a baseline model

In [874]:
# First import the 'pandas' and 'numpy' libraries
import pandas as pd # 'pd' constructor
import numpy as np  # 'np' constructor

In [875]:
# Import the Data Set
concrete_data=pd.read_csv('https://cocl.us/concrete_data')
# Display First five (5) rows of data set
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [876]:
# Check how many data points we have
concrete_data.shape

(1030, 9)

In [877]:
# Check data set for any missing values
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [878]:
# Sum all NULL values per each column in the dataframe
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [879]:
# Split data into predictors and target='strenght'
concrete_data_columns=concrete_data.columns

# Select All columns except 'Strenght' as our predictors
predictors=concrete_data[concrete_data_columns[concrete_data_columns!='Strength']]

# Get target columns as 'strenght'
target=concrete_data['Strength']

In [880]:
# Check predictors data frame
print(predictors.shape)
predictors.head()

(1030, 8)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [881]:
# Check target data frame
print(target.shape)
target.head()

(1030,)

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [882]:
# Randomly split the data into a training and test sets by holding 30% of the data for testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(predictors, target, test_size=0.3, random_state=4)

# Show new created training and test set shape
print('Full Data set:', predictors.shape, target.shape)
print('Training set:', X_train.shape, y_train.shape)
print('Test set:', X_test.shape, y_test.shape)

Full Data set: (1030, 8) (1030,)
Training set: (721, 8) (721,)
Test set: (309, 8) (309,)

In [883]:
# Save the number of predictors to 'n_cols'. We'll need this number when building the network.
n_cols=predictors.shape[1]
n_cols

8

In [884]:
# Data looks clean and ready to build our model.
# Let´s import the Keras Library 
import keras

# Import the keras packages to build our regression model
from keras.models import Sequential # 'Sequential' model constructor
from keras.layers import Dense      # We use 'Dense' type layers in our network

In [885]:
# Define regression model function
def regression_model():
    # Create model
    model=Sequential()
    
    # Add One hidden layer with 10 nodes/neurons each one and ReLU activation function
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    
    # Add Output layer with 1 node/neuron
    model.add(Dense(1))
    
    # Compile model adding adam Optimizer and the mean squared error as the loss function.
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [886]:
# Build our model
model=regression_model()

# Train/fit the model on the training set using 50 epochs, and validate the model on test set.
error=model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 9s - loss: 106006.3928 - val_loss: 63513.9886
Epoch 2/50
 - 0s - loss: 39472.5595 - val_loss: 20451.2612
Epoch 3/50
 - 0s - loss: 11557.9644 - val_loss: 5488.9410
Epoch 4/50
 - 0s - loss: 3003.6886 - val_loss: 1895.4335
Epoch 5/50
 - 0s - loss: 1553.9954 - val_loss: 1588.5794
Epoch 6/50
 - 0s - loss: 1428.5663 - val_loss: 1510.1569
Epoch 7/50
 - 0s - loss: 1350.9323 - val_loss: 1437.3049
Epoch 8/50
 - 0s - loss: 1282.0127 - val_loss: 1362.2999
Epoch 9/50
 - 0s - loss: 1210.5058 - val_loss: 1286.1179
Epoch 10/50
 - 0s - loss: 1134.0123 - val_loss: 1209.5958
Epoch 11/50
 - 0s - loss: 1068.6524 - val_loss: 1135.5245
Epoch 12/50
 - 0s - loss: 1000.5384 - val_loss: 1066.7246
Epoch 13/50
 - 0s - loss: 933.2642 - val_loss: 997.2015
Epoch 14/50
 - 0s - loss: 870.1212 - val_loss: 933.1631
Epoch 15/50
 - 0s - loss: 808.0316 - val_loss: 872.4827
Epoch 16/50
 - 0s - loss: 753.6012 - val_loss: 810.2669
Epoch 17/50
 - 0s - loss: 697.6107 - val_loss: 755.1780
Epoch 18/50
 - 0s - loss: 644.8034 - val_loss: 700.1733
Epoch 19/50
 - 0s - loss: 596.9273 - val_loss: 650.3184
Epoch 20/50
 - 0s - loss: 550.2827 - val_loss: 607.6940
Epoch 21/50
 - 0s - loss: 509.6762 - val_loss: 559.7735
Epoch 22/50
 - 0s - loss: 469.1961 - val_loss: 517.5741
Epoch 23/50
 - 0s - loss: 432.8597 - val_loss: 485.8559
Epoch 24/50
 - 0s - loss: 402.3258 - val_loss: 445.6961
Epoch 25/50
 - 0s - loss: 372.2652 - val_loss: 417.2095
Epoch 26/50
 - 0s - loss: 344.5198 - val_loss: 389.5976
Epoch 27/50
 - 0s - loss: 322.4973 - val_loss: 359.1496
Epoch 28/50
 - 0s - loss: 298.1496 - val_loss: 340.2803
Epoch 29/50
 - 0s - loss: 278.7026 - val_loss: 314.2179
Epoch 30/50
 - 0s - loss: 259.4392 - val_loss: 295.0782
Epoch 31/50
 - 0s - loss: 242.3927 - val_loss: 277.7492
Epoch 32/50
 - 0s - loss: 226.5810 - val_loss: 261.3288
Epoch 33/50
 - 0s - loss: 212.8410 - val_loss: 246.3692
Epoch 34/50
 - 0s - loss: 199.8111 - val_loss: 232.5497
Epoch 35/50
 - 0s - loss: 189.3905 - val_loss: 220.3561
Epoch 36/50
 - 0s - loss: 178.4199 - val_loss: 210.6602
Epoch 37/50
 - 0s - loss: 170.6522 - val_loss: 208.0912
Epoch 38/50
 - 0s - loss: 161.3302 - val_loss: 190.5554
Epoch 39/50
 - 0s - loss: 154.5849 - val_loss: 187.0387
Epoch 40/50
 - 0s - loss: 147.9493 - val_loss: 180.6841
Epoch 41/50
 - 0s - loss: 140.8841 - val_loss: 170.0894
Epoch 42/50
 - 0s - loss: 135.6935 - val_loss: 164.1854
Epoch 43/50
 - 0s - loss: 130.3970 - val_loss: 162.8757
Epoch 44/50
 - 0s - loss: 126.8312 - val_loss: 153.5678
Epoch 45/50
 - 0s - loss: 122.5404 - val_loss: 149.4322
Epoch 46/50
 - 0s - loss: 118.8554 - val_loss: 148.5708
Epoch 47/50
 - 0s - loss: 115.5963 - val_loss: 141.8730
Epoch 48/50
 - 0s - loss: 113.0705 - val_loss: 140.7208
Epoch 49/50
 - 0s - loss: 110.4362 - val_loss: 137.3065
Epoch 50/50
 - 0s - loss: 108.1974 - val_loss: 137.6999

In [887]:
# Use .predict() method to get an array of new predicted values of 'strenght' using test set
y_hat=model.predict(X_test)

# Create data frame for comparing true Strength and Predicted Strength
df=pd.DataFrame(y_hat, y_test)
df.reset_index(inplace=True)
df.columns=['Strength', 'Predicted Strength']

#Select first row as sample to report
y_testA=df.iloc[0,0]
y_hatA=df.iloc[0,1]


df.head()

   Strength  Predicted Strength
0     44.52           40.439449
1     50.53           46.148174
2     21.82           42.090893
3     38.80           40.280331
4     55.60           61.221523

In [888]:
# Evaluate the model
scores=model.evaluate(X_test, y_test, verbose=0)

# Use Scikit-learn to corroborate that our MSE value between true Strength and Predicted Strength is correct
from sklearn.metrics import mean_squared_error

MSE=mean_squared_error(y_test, y_hat)
MSEA=MSE     # To report

print('We get the last Mean Squared Error value on test set at Epoch 50/50 such as: {},'.format(np.around(scores, decimals=4)))
print('and the same value: {} computed with Scikit-learn.'.format(np.around(MSE, decimals=4)))

We get the last Mean Squared Error value on test set at Epoch 50/50 such as: 137.6999,
and the same value: 137.6999 computed with Scikit-learn.

In [889]:
# Extract/Get out the MSE values of our History object as dictionary using .history attribute
dictionary=error.history

# Select each array of values in the dictionary
loss_train=dictionary['loss']
val_loss_test=dictionary['val_loss']

# Create a Data Frame displaying the 50 MSE values at train and test set
error_values=pd.DataFrame(val_loss_test, loss_train)
error_values.reset_index(inplace=True)
error_values.columns=['loss (train set)','validated loss (test set)']
error_values.head(50)

    loss (train set)  validated loss (test set)
0      106006.392770               63513.988572
1       39472.559485               20451.261163
2       11557.964432                5488.941025
3        3003.688636                1895.433484
4        1553.995355                1588.579362
5        1428.566340                1510.156883
6        1350.932338                1437.304950
7        1282.012746                1362.299910
8        1210.505848                1286.117879
9        1134.012302                1209.595817
10       1068.652434                1135.524522
11       1000.538446                1066.724562
12        933.264226                 997.201533
13        870.121162                 933.163106
14        808.031633                 872.482735
15        753.601173                 810.266872
16        697.610656                 755.178026
17        644.803448                 700.173269
18        596.927261                 650.318427
19        550.282654                 607.693971
20        509.676207                 559.773474
21        469.196124                 517.574059
22        432.859694                 485.855926
23        402.325779                 445.696109
24        372.265150                 417.209527
25        344.519766                 389.597594
26        322.497253                 359.149609
27        298.149579                 340.280278
28        278.702587                 314.217938
29        259.439248                 295.078175
30        242.392699                 277.749210
31        226.581049                 261.328814
32        212.841030                 246.369250
33        199.811104                 232.549666
34        189.390464                 220.356057
35        178.419930                 210.660198
36        170.652235                 208.091237
37        161.330153                 190.555429
38        154.584942                 187.038653
39        147.949307                 180.684079
40        140.884113                 170.089424
41        135.693468                 164.185388
42        130.397034                 162.875728
43        126.831212                 153.567789
44        122.540378                 149.432172
45        118.855432                 148.570848
46        115.596336                 141.872970
47        113.070544                 140.720845
48        110.436180                 137.306547
49        108.197374                 137.699864

In [890]:
# Report the mean and the standard deviation of the mean squared errors
# Get Statistics with .describe() method and select just mean and std in 'error_values' data frame
stats=error_values.describe()
meanA=stats.iloc[1,1] # To report
stats[1:3]

      loss (train set)  validated loss (test set)
mean       3654.410994                2322.370858
std       15836.846043                9300.250886

<a id='itemB'></a>
### B. Repeat Part A but use a normalized version of the data.

In [891]:
# Normalize the inputs/predictors in training set.
X_train_norm=(X_train - X_train.mean()) / X_train.std()
X_train_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
401,1.792477,-0.842033,-0.853275,-0.934934,0.545015,0.885941,-1.326981,-0.302526
288,-0.932850,-0.842033,1.737310,-0.578668,0.230955,1.033146,0.066649,0.847751
406,-1.085082,-0.842033,1.374318,-0.850555,-1.025288,0.398645,1.548133,-0.701928
945,-1.318072,0.712067,0.749165,0.860457,0.197896,-0.738382,-0.227000,-0.302526
616,-0.045448,-0.842033,-0.853275,0.424501,-1.025288,-0.078500,1.007770,5.001532

In [892]:
# Normalize the inputs/predictors in test set.
X_test_norm=(X_test - X_test.mean()) / X_test.std()
X_test_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
522,0.046854,-0.720173,1.409228,-0.078799,-0.122201,-1.699502,0.333673,0.206369
701,0.088213,1.281494,-0.830446,0.528287,-1.070083,-0.504189,-0.806759,0.733507
563,-0.711057,2.684923,-0.830446,0.234084,-1.070083,0.093467,-1.197411,-0.553329
678,0.088213,1.281494,-0.830446,0.528287,-1.070083,-0.504189,-0.806759,-0.227744
98,2.021765,0.453686,-0.830446,0.019269,0.463762,-1.565362,0.066384,-0.553329

In [893]:
# Build our model
model=regression_model()

# Train/fit the model on the training set using 50 epochs, and validate the model on test set.
error=model.fit(X_train_norm, y_train, validation_data=(X_test_norm, y_test), epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 8s - loss: 1568.5704 - val_loss: 1504.4738
Epoch 2/50
 - 0s - loss: 1554.5798 - val_loss: 1491.1339
Epoch 3/50
 - 0s - loss: 1540.5810 - val_loss: 1477.8037
Epoch 4/50
 - 0s - loss: 1526.5726 - val_loss: 1464.1372
Epoch 5/50
 - 0s - loss: 1511.9989 - val_loss: 1450.2452
Epoch 6/50
 - 0s - loss: 1497.0109 - val_loss: 1435.6246
Epoch 7/50
 - 0s - loss: 1481.2603 - val_loss: 1420.5208
Epoch 8/50
 - 0s - loss: 1464.8205 - val_loss: 1404.2346
Epoch 9/50
 - 0s - loss: 1447.2504 - val_loss: 1387.1105
Epoch 10/50
 - 0s - loss: 1428.6036 - val_loss: 1368.8448
Epoch 11/50
 - 0s - loss: 1408.8812 - val_loss: 1349.4705
Epoch 12/50
 - 0s - loss: 1388.0260 - val_loss: 1329.0920
Epoch 13/50
 - 0s - loss: 1366.0374 - val_loss: 1307.5961
Epoch 14/50
 - 0s - loss: 1342.9561 - val_loss: 1285.2853
Epoch 15/50
 - 1s - loss: 1318.8044 - val_loss: 1261.9018
Epoch 16/50
 - 1s - loss: 1293.3602 - val_loss: 1237.7852
Epoch 17/50
 - 0s - loss: 1267.1831 - val_loss: 1212.4126
Epoch 18/50
 - 0s - loss: 1239.7676 - val_loss: 1186.2646
Epoch 19/50
 - 0s - loss: 1211.5862 - val_loss: 1158.9907
Epoch 20/50
 - 0s - loss: 1182.1703 - val_loss: 1130.9954
Epoch 21/50
 - 0s - loss: 1151.5408 - val_loss: 1102.7557
Epoch 22/50
 - 0s - loss: 1120.5142 - val_loss: 1072.6924
Epoch 23/50
 - 0s - loss: 1087.8774 - val_loss: 1042.1339
Epoch 24/50
 - 0s - loss: 1054.5138 - val_loss: 1010.5291
Epoch 25/50
 - 0s - loss: 1020.1498 - val_loss: 978.2412
Epoch 26/50
 - 0s - loss: 984.6063 - val_loss: 945.3682
Epoch 27/50
 - 0s - loss: 948.4863 - val_loss: 911.5763
Epoch 28/50
 - 0s - loss: 911.8564 - val_loss: 876.9492
Epoch 29/50
 - 0s - loss: 874.4118 - val_loss: 842.2416
Epoch 30/50
 - 0s - loss: 836.8974 - val_loss: 807.6956
Epoch 31/50
 - 0s - loss: 799.3215 - val_loss: 773.0433
Epoch 32/50
 - 0s - loss: 762.1284 - val_loss: 738.8192
Epoch 33/50
 - 1s - loss: 725.4317 - val_loss: 705.0874
Epoch 34/50
 - 0s - loss: 689.4010 - val_loss: 672.0005
Epoch 35/50
 - 0s - loss: 654.1635 - val_loss: 640.2136
Epoch 36/50
 - 0s - loss: 620.4780 - val_loss: 608.5582
Epoch 37/50
 - 0s - loss: 587.4876 - val_loss: 578.4961
Epoch 38/50
 - 0s - loss: 555.8927 - val_loss: 550.0834
Epoch 39/50
 - 0s - loss: 525.7575 - val_loss: 522.2738
Epoch 40/50
 - 0s - loss: 496.8763 - val_loss: 496.8806
Epoch 41/50
 - 0s - loss: 470.1508 - val_loss: 472.1402
Epoch 42/50
 - 0s - loss: 444.2776 - val_loss: 449.2099
Epoch 43/50
 - 0s - loss: 420.2668 - val_loss: 427.0723
Epoch 44/50
 - 0s - loss: 397.2282 - val_loss: 406.9881
Epoch 45/50
 - 0s - loss: 376.2478 - val_loss: 387.5850
Epoch 46/50
 - 0s - loss: 356.5675 - val_loss: 370.0133
Epoch 47/50
 - 0s - loss: 338.4945 - val_loss: 353.6003
Epoch 48/50
 - 0s - loss: 321.7345 - val_loss: 338.2704
Epoch 49/50
 - 0s - loss: 306.1692 - val_loss: 324.8391
Epoch 50/50
 - 0s - loss: 292.2779 - val_loss: 311.9161

In [894]:
# Use .predict() method to get an array of new predicted values of 'strenght' using test set
y_hat=model.predict(X_test_norm)

# Create data frame for comparing true Strength and Predicted Strength
df=pd.DataFrame(y_hat, y_test)
df.reset_index(inplace=True)
df.columns=['Strength', 'Predicted Strength']

#Select first row as sample to report
y_testB=df.iloc[0,0]
y_hatB=df.iloc[0,1]

df.head()

   Strength  Predicted Strength
0     44.52           27.473602
1     50.53           29.726318
2     21.82           32.074711
3     38.80           27.715340
4     55.60           36.944599

In [895]:
# Evaluate the model
scores=model.evaluate(X_test_norm, y_test, verbose=0)

# Use Scikit-learn to corroborate that our MSE value between true Strength and Predicted Strength is correct
from sklearn.metrics import mean_squared_error

MSE=mean_squared_error(y_test, y_hat)
MSEB=MSE   # To report

print('We get the last Mean Squared Error value on test set at Epoch 50/50 such as: {},'.format(np.around(scores, decimals=4)))
print('and the same value: {} computed with Scikit-learn, and it has INCREASED compared to step A.'.format(np.around(MSE, decimals=4)))

We get the last Mean Squared Error value on test set at Epoch 50/50 such as: 311.9161,
and the same value: 311.9161 computed with Scikit-learn, and it has INCREASED compared to step A.

In [896]:
# Extract/Get out the MSE values of our History object as dictionary using .history attribute
dictionary=error.history

# Select each array of values in the dictionary
loss_train=dictionary['loss']
val_loss_test=dictionary['val_loss']

# Create a Data Frame displaying the 50 MSE values at train and test set
error_values=pd.DataFrame(val_loss_test, loss_train)
error_values.reset_index(inplace=True)
error_values.columns=['loss (train set)','validated loss (test set)']
error_values.head(50)

    loss (train set)  validated loss (test set)
0        1568.570357                1504.473831
1        1554.579803                1491.133865
2        1540.581046                1477.803674
3        1526.572587                1464.137177
4        1511.998912                1450.245159
5        1497.010886                1435.624647
6        1481.260323                1420.520828
7        1464.820463                1404.234571
8        1447.250401                1387.110547
9        1428.603563                1368.844789
10       1408.881214                1349.470467
11       1388.025976                1329.092002
12       1366.037353                1307.596087
13       1342.956123                1285.285341
14       1318.804414                1261.901845
15       1293.360243                1237.785195
16       1267.183113                1212.412641
17       1239.767561                1186.264640
18       1211.586249                1158.990749
19       1182.170309                1130.995400
20       1151.540782                1102.755674
21       1120.514180                1072.692394
22       1087.877416                1042.133858
23       1054.513755                1010.529136
24       1020.149753                 978.241224
25        984.606272                 945.368190
26        948.486344                 911.576275
27        911.856387                 876.949188
28        874.411771                 842.241568
29        836.897394                 807.695634
30        799.321460                 773.043343
31        762.128375                 738.819155
32        725.431703                 705.087374
33        689.401015                 672.000497
34        654.163537                 640.213649
35        620.477975                 608.558241
36        587.487581                 578.496136
37        555.892748                 550.083405
38        525.757467                 522.273795
39        496.876324                 496.880559
40        470.150790                 472.140172
41        444.277575                 449.209946
42        420.266820                 427.072308
43        397.228214                 406.988095
44        376.247752                 387.584977
45        356.567452                 370.013338
46        338.494510                 353.600273
47        321.734502                 338.270401
48        306.169159                 324.839055
49        292.277922                 311.916112

In [897]:
# Report the mean and the standard deviation of the mean squared errors
# Get Statistics with .describe() method and select just mean and std in 'error_values' data frame
stats=error_values.describe()
meanB=stats.iloc[1,1] # To report
stats[1:3]

      loss (train set)  validated loss (test set)
mean        963.424557                 931.623949
std         425.926999                 397.989829

#### The *mean* of Mean Squared Error has DECREASED on step B, compared to step A.

<a id='itemC'></a>
### C. Increate the number of epochs
#### Repeat Part B but use 100 epochs this time for training.

In [898]:
# Build our model
model=regression_model()

# Train/fit the model on the training set using 50 epochs, and validate the model on test set.
error=model.fit(X_train_norm, y_train, validation_data=(X_test_norm, y_test), epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 8s - loss: 1618.1457 - val_loss: 1555.0297
Epoch 2/100
 - 0s - loss: 1605.0979 - val_loss: 1542.7327
Epoch 3/100
 - 0s - loss: 1592.2167 - val_loss: 1530.6456
Epoch 4/100
 - 0s - loss: 1579.5535 - val_loss: 1518.6370
Epoch 5/100
 - 0s - loss: 1566.7230 - val_loss: 1506.3661
Epoch 6/100
 - 0s - loss: 1553.4323 - val_loss: 1493.6529
Epoch 7/100
 - 0s - loss: 1539.5092 - val_loss: 1480.3573
Epoch 8/100
 - 0s - loss: 1524.8621 - val_loss: 1466.1366
Epoch 9/100
 - 0s - loss: 1509.1276 - val_loss: 1451.0277
Epoch 10/100
 - 0s - loss: 1492.4963 - val_loss: 1434.7579
Epoch 11/100
 - 0s - loss: 1474.4569 - val_loss: 1417.3850
Epoch 12/100
 - 0s - loss: 1454.9961 - val_loss: 1398.4876
Epoch 13/100
 - 0s - loss: 1433.8540 - val_loss: 1377.8350
Epoch 14/100
 - 0s - loss: 1411.0470 - val_loss: 1355.6406
Epoch 15/100
 - 0s - loss: 1386.4724 - val_loss: 1331.8139
Epoch 16/100
 - 0s - loss: 1360.2431 - val_loss: 1305.9919
Epoch 17/100
 - 0s - loss: 1332.0487 - val_loss: 1278.9287
Epoch 18/100
 - 0s - loss: 1302.6808 - val_loss: 1250.5997
Epoch 19/100
 - 1s - loss: 1271.7219 - val_loss: 1221.3169
Epoch 20/100
 - 1s - loss: 1239.7850 - val_loss: 1190.3765
Epoch 21/100
 - 0s - loss: 1206.7657 - val_loss: 1158.9110
Epoch 22/100
 - 0s - loss: 1173.2370 - val_loss: 1126.8162
Epoch 23/100
 - 0s - loss: 1138.5690 - val_loss: 1095.1447
Epoch 24/100
 - 0s - loss: 1104.2707 - val_loss: 1061.3968
Epoch 25/100
 - 0s - loss: 1068.4440 - val_loss: 1027.6475
Epoch 26/100
 - 0s - loss: 1032.5587 - val_loss: 993.8390
Epoch 27/100
 - 0s - loss: 996.9102 - val_loss: 958.5944
Epoch 28/100
 - 0s - loss: 959.8704 - val_loss: 924.7026
Epoch 29/100
 - 0s - loss: 923.6659 - val_loss: 889.5586
Epoch 30/100
 - 0s - loss: 886.5245 - val_loss: 855.9529
Epoch 31/100
 - 0s - loss: 850.3200 - val_loss: 821.1323
Epoch 32/100
 - 0s - loss: 814.0125 - val_loss: 787.1473
Epoch 33/100
 - 0s - loss: 778.2132 - val_loss: 754.1225
Epoch 34/100
 - 0s - loss: 743.2134 - val_loss: 721.4674
Epoch 35/100
 - 0s - loss: 708.6857 - val_loss: 689.6934
Epoch 36/100
 - 0s - loss: 675.3169 - val_loss: 658.4279
Epoch 37/100
 - 0s - loss: 642.1004 - val_loss: 628.8539
Epoch 38/100
 - 0s - loss: 610.8485 - val_loss: 600.3387
Epoch 39/100
 - 0s - loss: 581.1114 - val_loss: 572.2094
Epoch 40/100
 - 0s - loss: 551.8664 - val_loss: 546.2718
Epoch 41/100
 - 0s - loss: 524.5677 - val_loss: 521.3157
Epoch 42/100
 - 0s - loss: 498.4713 - val_loss: 498.0442
Epoch 43/100
 - 0s - loss: 474.1488 - val_loss: 475.7437
Epoch 44/100
 - 0s - loss: 450.7556 - val_loss: 455.1992
Epoch 45/100
 - 0s - loss: 429.2893 - val_loss: 435.2974
Epoch 46/100
 - 0s - loss: 408.7356 - val_loss: 416.8725
Epoch 47/100
 - 0s - loss: 389.3421 - val_loss: 400.4240
Epoch 48/100
 - 0s - loss: 371.9039 - val_loss: 383.9776
Epoch 49/100
 - 0s - loss: 355.0368 - val_loss: 369.4796
Epoch 50/100
 - 0s - loss: 339.7802 - val_loss: 355.7604
Epoch 51/100
 - 0s - loss: 325.5399 - val_loss: 342.9569
Epoch 52/100
 - 0s - loss: 312.2485 - val_loss: 331.1136
Epoch 53/100
 - 0s - loss: 300.0841 - val_loss: 320.8060
Epoch 54/100
 - 0s - loss: 289.3480 - val_loss: 310.5213
Epoch 55/100
 - 0s - loss: 279.1928 - val_loss: 301.4202
Epoch 56/100
 - 0s - loss: 269.6837 - val_loss: 293.8548
Epoch 57/100
 - 0s - loss: 261.4394 - val_loss: 286.1454
Epoch 58/100
 - 0s - loss: 253.7752 - val_loss: 279.2428
Epoch 59/100
 - 1s - loss: 246.5580 - val_loss: 273.3648
Epoch 60/100
 - 0s - loss: 240.2453 - val_loss: 268.0082
Epoch 61/100
 - 0s - loss: 234.5737 - val_loss: 262.6816
Epoch 62/100
 - 0s - loss: 229.2024 - val_loss: 257.9389
Epoch 63/100
 - 0s - loss: 224.4088 - val_loss: 253.6927
Epoch 64/100
 - 0s - loss: 220.0555 - val_loss: 249.7618
Epoch 65/100
 - 0s - loss: 216.0810 - val_loss: 246.3687
Epoch 66/100
 - 0s - loss: 212.5732 - val_loss: 242.9117
Epoch 67/100
 - 0s - loss: 209.0247 - val_loss: 240.0607
Epoch 68/100
 - 0s - loss: 206.0652 - val_loss: 237.3440
Epoch 69/100
 - 0s - loss: 203.2228 - val_loss: 234.8997
Epoch 70/100
 - 0s - loss: 200.7279 - val_loss: 232.4707
Epoch 71/100
 - 1s - loss: 198.2874 - val_loss: 230.2859
Epoch 72/100
 - 0s - loss: 196.1331 - val_loss: 228.1165
Epoch 73/100
 - 0s - loss: 194.0004 - val_loss: 226.1598
Epoch 74/100
 - 1s - loss: 192.0662 - val_loss: 224.1619
Epoch 75/100
 - 0s - loss: 190.2020 - val_loss: 222.4778
Epoch 76/100
 - 0s - loss: 188.5653 - val_loss: 220.7622
Epoch 77/100
 - 0s - loss: 186.9872 - val_loss: 219.1566
Epoch 78/100
 - 0s - loss: 185.4158 - val_loss: 217.6613
Epoch 79/100
 - 0s - loss: 184.0015 - val_loss: 216.2461
Epoch 80/100
 - 0s - loss: 182.7377 - val_loss: 214.9073
Epoch 81/100
 - 0s - loss: 181.3182 - val_loss: 213.5146
Epoch 82/100
 - 0s - loss: 180.0954 - val_loss: 212.1857
Epoch 83/100
 - 0s - loss: 178.8642 - val_loss: 210.8730
Epoch 84/100
 - 0s - loss: 177.7221 - val_loss: 209.6151
Epoch 85/100
 - 0s - loss: 176.5879 - val_loss: 208.4495
Epoch 86/100
 - 0s - loss: 175.5523 - val_loss: 207.1530
Epoch 87/100
 - 0s - loss: 174.4355 - val_loss: 206.1107
Epoch 88/100
 - 0s - loss: 173.3896 - val_loss: 205.0028
Epoch 89/100
 - 0s - loss: 172.3333 - val_loss: 203.8627
Epoch 90/100
 - 0s - loss: 171.3719 - val_loss: 202.7296
Epoch 91/100
 - 0s - loss: 170.3690 - val_loss: 201.6957
Epoch 92/100
 - 0s - loss: 169.4025 - val_loss: 200.6566
Epoch 93/100
 - 0s - loss: 168.4830 - val_loss: 199.5644
Epoch 94/100
 - 0s - loss: 167.5919 - val_loss: 198.5937
Epoch 95/100
 - 0s - loss: 166.5795 - val_loss: 197.5056
Epoch 96/100
 - 0s - loss: 165.7268 - val_loss: 196.5589
Epoch 97/100
 - 0s - loss: 164.8704 - val_loss: 195.4155
Epoch 98/100
 - 0s - loss: 163.9418 - val_loss: 194.4438
Epoch 99/100
 - 0s - loss: 163.0371 - val_loss: 193.4085
Epoch 100/100
 - 0s - loss: 162.2092 - val_loss: 192.4970

In [899]:
# Use .predict() method to get an array of new predicted values of 'strenght' using test set
y_hat=model.predict(X_test_norm)

# Create data frame for comparing true Strength and Predicted Strength
df=pd.DataFrame(y_hat, y_test)
df.reset_index(inplace=True)
df.columns=['Strength', 'Predicted Strength']

#Select first row as sample to report
y_testC=df.iloc[0,0]
y_hatC=df.iloc[0,1]

df.head()

   Strength  Predicted Strength
0     44.52           27.100958
1     50.53           40.859787
2     21.82           42.636662
3     38.80           39.090347
4     55.60           59.708954

In [900]:
# Evaluate the model
scores=model.evaluate(X_test_norm, y_test, verbose=0)

# Use Scikit-learn to corroborate that our MSE value between true Strength and Predicted Strength is correct
from sklearn.metrics import mean_squared_error

MSE=mean_squared_error(y_test, y_hat)
MSEC=MSE   # To report

print('We get the last Mean Squared Error value on test set at Epoch 100/100 such as: {},'.format(np.around(scores, decimals=4)))
print('and the same value: {} computed with Scikit-learn, and it has DECREASED respect to step B and step A.'.format(np.around(MSE, decimals=4)))

We get the last Mean Squared Error value on test set at Epoch 100/100 such as: 192.497,
and the same value: 192.497 computed with Scikit-learn, and it has DECREASED respect to step B and step A.

In [901]:
# Extract/Get out the MSE values of our History object as dictionary using .history attribute
dictionary=error.history

# Select each array of values in the dictionary
loss_train=dictionary['loss']
val_loss_test=dictionary['val_loss']

# Create a Data Frame displaying the 50 MSE values at train and test set
error_values=pd.DataFrame(val_loss_test, loss_train)
error_values.reset_index(inplace=True)
error_values.columns=['loss (train set)','validated loss (test set)']
error_values.head(100)

    loss (train set)  validated loss (test set)
0        1618.145725                1555.029743
1        1605.097920                1542.732692
2        1592.216662                1530.645569
3        1579.553503                1518.636982
4        1566.723007                1506.366063
5        1553.432342                1493.652889
6        1539.509176                1480.357290
7        1524.862104                1466.136634
8        1509.127612                1451.027713
9        1492.496312                1434.757903
10       1474.456890                1417.384985
11       1454.996148                1398.487576
12       1433.854028                1377.835044
13       1411.046997                1355.640564
14       1386.472367                1331.813948
15       1360.243121                1305.991877
16       1332.048733                1278.928680
17       1302.680803                1250.599717
18       1271.721930                1221.316877
19       1239.785031                1190.376532
20       1206.765735                1158.911026
21       1173.236967                1126.816240
22       1138.569038                1095.144698
23       1104.270662                1061.396831
24       1068.444011                1027.647513
25       1032.558719                 993.839026
26        996.910205                 958.594401
27        959.870389                 924.702585
28        923.665916                 889.558587
29        886.524510                 855.952860
..               ...                        ...
70        198.287397                 230.285858
71        196.133071                 228.116454
72        194.000391                 226.159792
73        192.066171                 224.161945
74        190.201996                 222.477818
75        188.565312                 220.762198
76        186.987161                 219.156608
77        185.415774                 217.661302
78        184.001481                 216.246093
79        182.737736                 214.907298
80        181.318212                 213.514610
81        180.095396                 212.185746
82        178.864246                 210.872978
83        177.722141                 209.615097
84        176.587935                 208.449509
85        175.552305                 207.152961
86        174.435543                 206.110710
87        173.389631                 205.002811
88        172.333273                 203.862682
89        171.371853                 202.729582
90        170.369046                 201.695650
91        169.402506                 200.656645
92        168.482962                 199.564435
93        167.591915                 198.593681
94        166.579511                 197.505584
95        165.726757                 196.558852
96        164.870399                 195.415514
97        163.941808                 194.443816
98        163.037132                 193.408522
99        162.209241                 192.497024

[100 rows x 2 columns]

In [902]:
# Report the mean and the standard deviation of the mean squared errors
# Get Statistics with .describe() method and select just mean and std in 'error_values' data frame
stats=error_values.describe()
meanC=stats.iloc[1,1] # To report
stats[1:3]

      loss (train set)  validated loss (test set)
mean        611.933344                 610.273983
std         509.011003                 473.208693

#### The *mean* of Mean Squared Error on step C is lower than step B and step A

<a id='itemD'></a>
### D. Increase the number of hidden layers
#### Repeat part B but use a neural network with *Three hidden layers*, each of 10 nodes and ReLU activation function.

In [903]:
# Define regression model function
def regression_model():
    # Create model
    model=Sequential()
    
    # Add First hidden layer with 10 nodes/neurons and ReLU activation function
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    
    # Add Second hidden layer with 10 nodes/neurons and ReLU activation function 
    model.add(Dense(10, activation='relu'))
    
    # Add Third hidden layer with 10 nodes/neurons and ReLU activation function 
    model.add(Dense(10, activation='relu'))
    
    # Add Output layer with 1 node/neuron
    model.add(Dense(1))
    
    # Compile model adding adam Optimizer and the mean squared error as the loss function.
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [904]:
# Build our model
model=regression_model()

# Train/fit the model on the training set using 50 epochs, and validate the model on test set.
error=model.fit(X_train_norm, y_train, validation_data=(X_test_norm, y_test), epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 9s - loss: 1554.4776 - val_loss: 1486.8938
Epoch 2/50
 - 0s - loss: 1526.6335 - val_loss: 1454.4655
Epoch 3/50
 - 0s - loss: 1484.7901 - val_loss: 1404.2561
Epoch 4/50
 - 0s - loss: 1420.6499 - val_loss: 1327.5391
Epoch 5/50
 - 0s - loss: 1322.0023 - val_loss: 1213.8024
Epoch 6/50
 - 0s - loss: 1178.0353 - val_loss: 1047.8646
Epoch 7/50
 - 0s - loss: 979.5445 - val_loss: 837.1843
Epoch 8/50
 - 0s - loss: 735.9884 - val_loss: 598.4784
Epoch 9/50
 - 0s - loss: 490.9768 - val_loss: 408.5086
Epoch 10/50
 - 0s - loss: 327.6814 - val_loss: 315.5331
Epoch 11/50
 - 1s - loss: 257.2625 - val_loss: 282.8456
Epoch 12/50
 - 1s - loss: 232.7503 - val_loss: 264.0977
Epoch 13/50
 - 0s - loss: 217.3433 - val_loss: 248.8995
Epoch 14/50
 - 0s - loss: 206.1156 - val_loss: 237.6190
Epoch 15/50
 - 0s - loss: 198.1912 - val_loss: 228.5942
Epoch 16/50
 - 0s - loss: 190.5329 - val_loss: 220.1448
Epoch 17/50
 - 0s - loss: 184.2429 - val_loss: 214.3927
Epoch 18/50
 - 0s - loss: 179.3201 - val_loss: 208.2530
Epoch 19/50
 - 0s - loss: 174.4048 - val_loss: 204.0706
Epoch 20/50
 - 0s - loss: 170.5544 - val_loss: 199.3454
Epoch 21/50
 - 1s - loss: 166.8241 - val_loss: 195.4052
Epoch 22/50
 - 0s - loss: 163.6465 - val_loss: 191.1968
Epoch 23/50
 - 0s - loss: 160.7856 - val_loss: 187.8419
Epoch 24/50
 - 0s - loss: 157.9325 - val_loss: 186.3198
Epoch 25/50
 - 0s - loss: 155.4900 - val_loss: 182.2206
Epoch 26/50
 - 0s - loss: 152.9034 - val_loss: 180.3406
Epoch 27/50
 - 0s - loss: 150.6578 - val_loss: 177.5482
Epoch 28/50
 - 0s - loss: 148.4379 - val_loss: 176.1768
Epoch 29/50
 - 0s - loss: 146.4648 - val_loss: 173.8190
Epoch 30/50
 - 0s - loss: 145.4438 - val_loss: 171.3952
Epoch 31/50
 - 0s - loss: 143.6144 - val_loss: 170.4543
Epoch 32/50
 - 0s - loss: 141.2550 - val_loss: 168.1174
Epoch 33/50
 - 0s - loss: 139.5708 - val_loss: 165.7231
Epoch 34/50
 - 0s - loss: 138.5987 - val_loss: 164.8316
Epoch 35/50
 - 0s - loss: 137.2582 - val_loss: 163.1539
Epoch 36/50
 - 0s - loss: 135.4739 - val_loss: 161.8836
Epoch 37/50
 - 0s - loss: 134.1383 - val_loss: 161.1419
Epoch 38/50
 - 1s - loss: 132.9770 - val_loss: 158.9439
Epoch 39/50
 - 1s - loss: 131.7966 - val_loss: 157.5528
Epoch 40/50
 - 0s - loss: 130.6187 - val_loss: 156.9467
Epoch 41/50
 - 0s - loss: 129.5743 - val_loss: 155.5567
Epoch 42/50
 - 0s - loss: 128.5670 - val_loss: 153.6715
Epoch 43/50
 - 0s - loss: 127.3702 - val_loss: 152.9588
Epoch 44/50
 - 0s - loss: 126.4183 - val_loss: 152.1579
Epoch 45/50
 - 0s - loss: 126.2101 - val_loss: 150.5566
Epoch 46/50
 - 0s - loss: 124.6359 - val_loss: 150.9031
Epoch 47/50
 - 0s - loss: 123.7396 - val_loss: 148.7372
Epoch 48/50
 - 0s - loss: 123.0022 - val_loss: 148.2802
Epoch 49/50
 - 0s - loss: 121.9762 - val_loss: 146.6442
Epoch 50/50
 - 0s - loss: 121.5029 - val_loss: 147.2921

In [905]:
# Use .predict() method to get an array of new predicted values of 'strenght' using test set
y_hat=model.predict(X_test_norm)

# Create data frame for comparing true Strength and Predicted Strength
df=pd.DataFrame(y_hat, y_test)
df.reset_index(inplace=True)
df.columns=['Strength', 'Predicted Strength']

#Select first row as sample to report
y_testD=df.iloc[0,0]
y_hatD=df.iloc[0,1]

df.head()

   Strength  Predicted Strength
0     44.52           34.165421
1     50.53           41.173103
2     21.82           38.667336
3     38.80           37.060841
4     55.60           62.264595

In [906]:
# Evaluate the model
scores=model.evaluate(X_test_norm, y_test, verbose=0)

# Use Scikit-learn to corroborate that our MSE value between true Strength and Predicted Strength is correct
from sklearn.metrics import mean_squared_error

MSE=mean_squared_error(y_test, y_hat)
MSED=MSE   # To report

print('We get the last Mean Squared Error value on test set at Epoch 50/50 such as: {},'.format(np.around(scores, decimals=4)))
print('and the same value: {} computed with Scikit-learn, and it has DECREASED respect to steps C, B and A.'.format(np.around(MSE, decimals=4)))

We get the last Mean Squared Error value on test set at Epoch 50/50 such as: 147.2921,
and the same value: 147.2921 computed with Scikit-learn, and it has DECREASED respect to steps C, B and A.

In [907]:
# Extract/Get out the MSE values of our History object as dictionary using .history attribute
dictionary=error.history

# Select each array of values in the dictionary
loss_train=dictionary['loss']
val_loss_test=dictionary['val_loss']

# Create a Data Frame displaying the 50 MSE values at train and test set
error_values=pd.DataFrame(val_loss_test, loss_train)
error_values.reset_index(inplace=True)
error_values.columns=['loss (train set)','validated loss (test set)']
error_values.head(50)

    loss (train set)  validated loss (test set)
0        1554.477566                1486.893808
1        1526.633450                1454.465529
2        1484.790070                1404.256083
3        1420.649896                1327.539104
4        1322.002280                1213.802449
5        1178.035259                1047.864586
6         979.544489                 837.184251
7         735.988383                 598.478356
8         490.976783                 408.508594
9         327.681398                 315.533127
10        257.262537                 282.845604
11        232.750284                 264.097651
12        217.343309                 248.899540
13        206.115562                 237.619025
14        198.191179                 228.594238
15        190.532887                 220.144820
16        184.242900                 214.392681
17        179.320050                 208.253015
18        174.404807                 204.070638
19        170.554382                 199.345390
20        166.824108                 195.405159
21        163.646526                 191.196801
22        160.785570                 187.841889
23        157.932514                 186.319829
24        155.490045                 182.220632
25        152.903417                 180.340570
26        150.657843                 177.548184
27        148.437855                 176.176757
28        146.464774                 173.819045
29        145.443847                 171.395247
30        143.614388                 170.454289
31        141.254953                 168.117441
32        139.570811                 165.723149
33        138.598744                 164.831627
34        137.258223                 163.153946
35        135.473882                 161.883574
36        134.138259                 161.141907
37        132.977041                 158.943934
38        131.796556                 157.552752
39        130.618736                 156.946691
40        129.574326                 155.556665
41        128.566950                 153.671455
42        127.370196                 152.958844
43        126.418294                 152.157940
44        126.210057                 150.556645
45        124.635875                 150.903135
46        123.739593                 148.737169
47        123.002239                 148.280197
48        121.976242                 146.644214
49        121.502872                 147.292058

In [908]:
# Report the mean and the standard deviation of the mean squared errors
# Get Statistics with .describe() method and select just mean and std in 'error_values' data frame
stats=error_values.describe()
meanD=stats.iloc[1,1] # To report
stats[1:3]

      loss (train set)  validated loss (test set)
mean        343.967644                 347.211205
std         429.390928                 385.832155

#### The *mean* of Mean Squared Error on step D is lower than steps C, B and A.

<a id='itemE'></a>
## E. Additional
### Use (3) Hidden Layers and 100 Epochs
#### Repeat part C but use a neural network with *Three hidden layers*, each of 10 nodes, *ReLU* activation function and 100 *Epochs*.

In [909]:
# Build our model
model=regression_model()

# Train/fit the model on the training set using 50 epochs, and validate the model on test set.
error=model.fit(X_train_norm, y_train, validation_data=(X_test_norm, y_test), epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 9s - loss: 1564.7969 - val_loss: 1494.7517
Epoch 2/100
 - 0s - loss: 1533.1168 - val_loss: 1458.0330
Epoch 3/100
 - 0s - loss: 1489.2541 - val_loss: 1408.4382
Epoch 4/100
 - 0s - loss: 1427.2655 - val_loss: 1334.4746
Epoch 5/100
 - 0s - loss: 1333.4475 - val_loss: 1218.7755
Epoch 6/100
 - 0s - loss: 1185.1941 - val_loss: 1048.1217
Epoch 7/100
 - 0s - loss: 980.8907 - val_loss: 827.3225
Epoch 8/100
 - 0s - loss: 731.8673 - val_loss: 594.7780
Epoch 9/100
 - 0s - loss: 499.3447 - val_loss: 407.1117
Epoch 10/100
 - 0s - loss: 339.7944 - val_loss: 313.9081
Epoch 11/100
 - 0s - loss: 268.4868 - val_loss: 277.2577
Epoch 12/100
 - 0s - loss: 235.1848 - val_loss: 254.6318
Epoch 13/100
 - 1s - loss: 215.5390 - val_loss: 239.6493
Epoch 14/100
 - 1s - loss: 203.0392 - val_loss: 227.5382
Epoch 15/100
 - 0s - loss: 193.2609 - val_loss: 219.1504
Epoch 16/100
 - 0s - loss: 185.7954 - val_loss: 211.6006
Epoch 17/100
 - 0s - loss: 180.5979 - val_loss: 205.2527
Epoch 18/100
 - 0s - loss: 175.6389 - val_loss: 200.8293
Epoch 19/100
 - 0s - loss: 171.7137 - val_loss: 195.2598
Epoch 20/100
 - 0s - loss: 168.1919 - val_loss: 192.0834
Epoch 21/100
 - 0s - loss: 164.9490 - val_loss: 188.3838
Epoch 22/100
 - 0s - loss: 162.1620 - val_loss: 184.5427
Epoch 23/100
 - 0s - loss: 159.5276 - val_loss: 181.7941
Epoch 24/100
 - 0s - loss: 157.2414 - val_loss: 179.2346
Epoch 25/100
 - 0s - loss: 154.9689 - val_loss: 176.9324
Epoch 26/100
 - 0s - loss: 152.6569 - val_loss: 173.6030
Epoch 27/100
 - 0s - loss: 150.5969 - val_loss: 171.5158
Epoch 28/100
 - 0s - loss: 148.3544 - val_loss: 169.4802
Epoch 29/100
 - 0s - loss: 146.4936 - val_loss: 167.6110
Epoch 30/100
 - 0s - loss: 144.6729 - val_loss: 165.0254
Epoch 31/100
 - 0s - loss: 142.8100 - val_loss: 163.8025
Epoch 32/100
 - 0s - loss: 141.0468 - val_loss: 161.4630
Epoch 33/100
 - 0s - loss: 139.6304 - val_loss: 159.6950
Epoch 34/100
 - 0s - loss: 137.1663 - val_loss: 157.5194
Epoch 35/100
 - 0s - loss: 135.3224 - val_loss: 156.4354
Epoch 36/100
 - 0s - loss: 133.6914 - val_loss: 154.8264
Epoch 37/100
 - 0s - loss: 132.4556 - val_loss: 152.2150
Epoch 38/100
 - 0s - loss: 130.5121 - val_loss: 151.0271
Epoch 39/100
 - 0s - loss: 128.8354 - val_loss: 149.0670
Epoch 40/100
 - 0s - loss: 127.3050 - val_loss: 148.0362
Epoch 41/100
 - 1s - loss: 125.8934 - val_loss: 146.5059
Epoch 42/100
 - 1s - loss: 124.6087 - val_loss: 145.7036
Epoch 43/100
 - 0s - loss: 123.3483 - val_loss: 143.7929
Epoch 44/100
 - 0s - loss: 121.8942 - val_loss: 143.0394
Epoch 45/100
 - 0s - loss: 120.8034 - val_loss: 142.3421
Epoch 46/100
 - 0s - loss: 119.8086 - val_loss: 140.1143
Epoch 47/100
 - 0s - loss: 118.3708 - val_loss: 139.8726
Epoch 48/100
 - 0s - loss: 116.8462 - val_loss: 137.9433
Epoch 49/100
 - 0s - loss: 115.5564 - val_loss: 136.8435
Epoch 50/100
 - 0s - loss: 114.7544 - val_loss: 135.7437
Epoch 51/100
 - 0s - loss: 113.7776 - val_loss: 135.5394
Epoch 52/100
 - 0s - loss: 112.9915 - val_loss: 133.8266
Epoch 53/100
 - 0s - loss: 111.6038 - val_loss: 133.9432
Epoch 54/100
 - 1s - loss: 110.6556 - val_loss: 132.8631
Epoch 55/100
 - 0s - loss: 109.8593 - val_loss: 131.5697
Epoch 56/100
 - 0s - loss: 108.7271 - val_loss: 131.2155
Epoch 57/100
 - 0s - loss: 107.7873 - val_loss: 130.9408
Epoch 58/100
 - 0s - loss: 106.8988 - val_loss: 129.7728
Epoch 59/100
 - 0s - loss: 106.2525 - val_loss: 128.6567
Epoch 60/100
 - 0s - loss: 105.1832 - val_loss: 129.2292
Epoch 61/100
 - 0s - loss: 104.6367 - val_loss: 127.5925
Epoch 62/100
 - 0s - loss: 104.0972 - val_loss: 126.9978
Epoch 63/100
 - 0s - loss: 103.2681 - val_loss: 126.2081
Epoch 64/100
 - 0s - loss: 102.4226 - val_loss: 125.6845
Epoch 65/100
 - 0s - loss: 101.9644 - val_loss: 123.7171
Epoch 66/100
 - 0s - loss: 101.3334 - val_loss: 124.2906
Epoch 67/100
 - 1s - loss: 100.3310 - val_loss: 122.9175
Epoch 68/100
 - 1s - loss: 100.0159 - val_loss: 122.7031
Epoch 69/100
 - 0s - loss: 98.8938 - val_loss: 122.3586
Epoch 70/100
 - 0s - loss: 98.1715 - val_loss: 121.2556
Epoch 71/100
 - 0s - loss: 98.0517 - val_loss: 120.6252
Epoch 72/100
 - 0s - loss: 97.7376 - val_loss: 120.7705
Epoch 73/100
 - 0s - loss: 96.2975 - val_loss: 119.6688
Epoch 74/100
 - 0s - loss: 95.6964 - val_loss: 118.1269
Epoch 75/100
 - 0s - loss: 95.1457 - val_loss: 117.8795
Epoch 76/100
 - 0s - loss: 94.6914 - val_loss: 117.4562
Epoch 77/100
 - 0s - loss: 93.8686 - val_loss: 116.0699
Epoch 78/100
 - 0s - loss: 93.8761 - val_loss: 115.2730
Epoch 79/100
 - 1s - loss: 92.5023 - val_loss: 114.3013
Epoch 80/100
 - 0s - loss: 91.5118 - val_loss: 114.0835
Epoch 81/100
 - 0s - loss: 90.8539 - val_loss: 112.9975
Epoch 82/100
 - 0s - loss: 90.3668 - val_loss: 112.3865
Epoch 83/100
 - 0s - loss: 89.3734 - val_loss: 111.0524
Epoch 84/100
 - 0s - loss: 88.6149 - val_loss: 110.4106
Epoch 85/100
 - 0s - loss: 88.2239 - val_loss: 110.2109
Epoch 86/100
 - 0s - loss: 87.5458 - val_loss: 108.4627
Epoch 87/100
 - 1s - loss: 86.7301 - val_loss: 107.0349
Epoch 88/100
 - 0s - loss: 86.0415 - val_loss: 106.5519
Epoch 89/100
 - 0s - loss: 85.4663 - val_loss: 105.5570
Epoch 90/100
 - 0s - loss: 84.8891 - val_loss: 105.7354
Epoch 91/100
 - 0s - loss: 84.0863 - val_loss: 104.8027
Epoch 92/100
 - 0s - loss: 83.5532 - val_loss: 103.7659
Epoch 93/100
 - 1s - loss: 83.1321 - val_loss: 103.6318
Epoch 94/100
 - 1s - loss: 82.3071 - val_loss: 102.8080
Epoch 95/100
 - 0s - loss: 81.7130 - val_loss: 101.3535
Epoch 96/100
 - 0s - loss: 81.2709 - val_loss: 101.4696
Epoch 97/100
 - 0s - loss: 80.5976 - val_loss: 100.2498
Epoch 98/100
 - 0s - loss: 79.8685 - val_loss: 100.6333
Epoch 99/100
 - 0s - loss: 79.3507 - val_loss: 97.7766
Epoch 100/100
 - 0s - loss: 78.8951 - val_loss: 99.0254

In [910]:
# Use .predict() method to get an array of new predicted values of 'strenght' using test set
y_hat=model.predict(X_test_norm)

# Create data frame for comparing true Strength and Predicted Strength
df=pd.DataFrame(y_hat, y_test)
df.reset_index(inplace=True)
df.columns=['Strength', 'Predicted Strength']

#Select first row as sample to report
y_testE=df.iloc[0,0]
y_hatE=df.iloc[0,1]

df.head()

   Strength  Predicted Strength
0     44.52           42.489040
1     50.53           49.544811
2     21.82           32.233387
3     38.80           35.205288
4     55.60           60.650658

In [911]:
# Evaluate the model
scores=model.evaluate(X_test_norm, y_test, verbose=0)

# Use Scikit-learn to corroborate that our MSE value between true Strength and Predicted Strength is correct
from sklearn.metrics import mean_squared_error

MSE=mean_squared_error(y_test, y_hat)
MSEE=MSE   # To report

print('We get the last Mean Squared Error value on test set at Epoch 100/100 such as: {},'.format(np.around(scores, decimals=4)))
print('and the same value: {} computed with Scikit-learn, and it has DECREASED respect to steps D, C, B and A.'.format(np.around(MSE, decimals=4)))

We get the last Mean Squared Error value on test set at Epoch 100/100 such as: 99.0254,
and the same value: 99.0254 computed with Scikit-learn, and it has DECREASED respect to steps D, C, B and A.

In [912]:
# Extract/Get out the MSE values of our History object as dictionary using .history attribute
dictionary=error.history

# Select each array of values in the dictionary
loss_train=dictionary['loss']
val_loss_test=dictionary['val_loss']

# Create a Data Frame displaying the 50 MSE values at train and test set
error_values=pd.DataFrame(val_loss_test, loss_train)
error_values.reset_index(inplace=True)
error_values.columns=['loss (train set)','validated loss (test set)']
error_values.head(100)

    loss (train set)  validated loss (test set)
0        1564.796854                1494.751742
1        1533.116815                1458.033021
2        1489.254119                1408.438209
3        1427.265465                1334.474612
4        1333.447491                1218.775482
5        1185.194066                1048.121675
6         980.890710                 827.322451
7         731.867312                 594.778048
8         499.344653                 407.111743
9         339.794368                 313.908078
10        268.486788                 277.257651
11        235.184819                 254.631813
12        215.538956                 239.649252
13        203.039226                 227.538214
14        193.260915                 219.150378
15        185.795412                 211.600640
16        180.597924                 205.252685
17        175.638943                 200.829250
18        171.713663                 195.259847
19        168.191925                 192.083379
20        164.949023                 188.383798
21        162.161953                 184.542744
22        159.527570                 181.794104
23        157.241389                 179.234612
24        154.968926                 176.932432
25        152.656927                 173.602979
26        150.596893                 171.515829
27        148.354391                 169.480170
28        146.493611                 167.611013
29        144.672925                 165.025369
..               ...                        ...
70         98.051671                 120.625196
71         97.737604                 120.770501
72         96.297509                 119.668791
73         95.696422                 118.126918
74         95.145662                 117.879475
75         94.691402                 117.456174
76         93.868630                 116.069895
77         93.876089                 115.273032
78         92.502278                 114.301328
79         91.511837                 114.083460
80         90.853859                 112.997486
81         90.366753                 112.386520
82         89.373396                 111.052426
83         88.614931                 110.410596
84         88.223900                 110.210896
85         87.545771                 108.462737
86         86.730099                 107.034882
87         86.041469                 106.551869
88         85.466309                 105.556976
89         84.889111                 105.735401
90         84.086313                 104.802725
91         83.553157                 103.765928
92         83.132128                 103.631767
93         82.307074                 102.808030
94         81.712962                 101.353529
95         81.270925                 101.469554
96         80.597643                 100.249753
97         79.868472                 100.633336
98         79.350741                  97.776585
99         78.895097                  99.025403

[100 rows x 2 columns]

In [913]:
# Report the mean and the standard deviation of the mean squared errors
# Get Statistics with .describe() method and select just mean and std in 'error_values' data frame
stats=error_values.describe()
meanE=stats.iloc[1,1] # To report
stats[1:3]

      loss (train set)  validated loss (test set)
mean        219.258341                 228.945331
std         329.086120                 296.614918

#### The *mean* of Mean Squared Error on step E is lower than steps D, C, B and A.

<a id='itemF'></a>
# F. Report

In [914]:
report_array=[
             {'Step': 'A', 'Mean of MSE (Test Set)':meanA, 'True Strength':y_testA, 'Predicted Strength':y_hatA, 'MSE last Epoch (Test Set)':MSEA},
             {'Step': 'B', 'Mean of MSE (Test Set)':meanB, 'True Strength':y_testB, 'Predicted Strength':y_hatB, 'MSE last Epoch (Test Set)':MSEB},
             {'Step': 'C', 'Mean of MSE (Test Set)':meanC, 'True Strength':y_testC, 'Predicted Strength':y_hatC, 'MSE last Epoch (Test Set)':MSEC},
             {'Step': 'D', 'Mean of MSE (Test Set)':meanD, 'True Strength':y_testD, 'Predicted Strength':y_hatD, 'MSE last Epoch (Test Set)':MSED},
             {'Step': 'E', 'Mean of MSE (Test Set)':meanE, 'True Strength':y_testE, 'Predicted Strength':y_hatE, 'MSE last Epoch (Test Set)':MSEE}
             ]

report_df=pd.DataFrame(report_array)
report_df

,MSE last Epoch (Test Set),Mean of MSE (Test Set),Predicted Strength,Step,True Strength
0,137.699862,2322.370858,40.439449,A,44.52
1,311.916119,931.623949,27.473602,B,44.52
2,192.497021,610.273983,27.100958,C,44.52
3,147.292055,347.211205,34.165421,D,44.52
4,99.025402,228.945331,42.489040,E,44.52

# <span style="color:gray"><strong>Thanks for Watching !</strong></span>
### <span style="color:gray"><strong>Diego H. Salazar A.</strong></span>

<img src="https://media-exp1.licdn.com/dms/image/C5103AQH_4IJSGAl9Yw/profile-displayphoto-shrink_200_200/0?e=1602115200&v=beta&t=oi-1AzhyTRYSGTOqgeC27692BfY63DtzdqS9eHVZKPk" width="60" height="60" align="left"/>